
.feed{

    margin-top: 103px ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container1{
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    width: 600px;
    margin-top: 10px;
    background: linear-gradient(90deg,#755bea, #ff72c0);
    box-shadow: 0 0 100px 50px #5bea;
    border: 2px solid #bea;
    border-radius: 10px;
    transition: 10s;
    overflow: hidden;
}





.form{
    margin: 30px;
    box-sizing: border-box;
}


.user .inp{
    width: 400px;
    height: 30px;
    margin-top: 5%;
    border: none;
    background: transparent;
    border-bottom: 3px solid #fff;
    font-size: 20px;
    outline: none;
}


.username .inp{
    width: 400px;
    height: 30px;
    margin-top: 5%;
    border: none;
    background: transparent;
    border-bottom: 3px solid #fff;
    font-size: 20px;
    outline: none;
}

.user .inp::placeholder{
    color: #222;
}

.username .inp::placeholder{
    color: #222;
}

textarea{
    width: 400px;
    height: 200px;
    background: linear-gradient(180deg,#5bea, #ffc0);
    box-shadow: 0 0 20px 4px #303030;
    resize: none;
    margin-top: 3%;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
}

textarea::placeholder{
    color: #222;
}

.sub{
    margin-top: 15%;
    position: relative;
    margin-bottom: 60px;
}

.sub .inp{
    font-size: 20px;
    width: 400px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(90deg,#5bea, #ffc0);
    border: 3px solid #fff;
    color: #f2f2f2;
    
}

.sub .inp:active{
    border-color: #755bea;
}


.container-rating{
    width: 350px;
    background:rgb(172, 76, 148);
    padding: 20px 30px;
    margin-left: 90px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container-rating .star-widget .inp{
display: none;
}

.star-widget .lab{
    font-size: 20px;
    color: #444;
    padding: 10px;
    float: right;
}

.star-widget .inp:not(:checked) ~ .lab:hover,
.star-widget .inp:not(:checked) ~ .lab:hover ~ .lab{
    color: #fd4;
}


.inp:checked ~ .lab{
    color: #fd4;
}

.inp#rate-5checked ~ .lab{
    color: #fe7;
    text-shadow: 0 0 20px;
}



