@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.cart-one {
  width: 85%;
  background: var(--main_color);
  padding: 80px 0;
  margin: 80px auto;
}

.cart-table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

.th-cart th {
  text-align: right;
  padding: 5px;
  color: var(--main_color);
  background: var(--seconder_color);
  /* font-weight: normal; */
}

.prd {
  text-align: left !important;
}

.td-cart td {
  padding: 10px 5px;
}

.td-cart p {
  font-weight: bold;
}

.td-cart input {
  width: 30px;
  height: 25px;
  padding: 5px;
}

.td-cart a {
  color: red;
  font-size: 12px;
}

.td-cart img {
  width: 80px;
  height: 120px;
  margin-right: 10px;
}

.total-price-cart {
  display: flex;
  justify-content: flex-end;
}

.cart-table-total {
  border-top: 3px solid var(--seconder_color);
  width: 20%;
  margin: 0 70% 0 0;
  text-align: left;
}

/* .cart-table-total .NM {
  width: 15%;
} */
.td-cart {
  text-align: right;
}
.checkout {
  background: var(--seconder_color);
  border: 1px solid var(--seconder_color);
  text-align: center;
  padding: 15px;
  width: fit-content;
  margin: auto;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition-duration: 0.5s;
  display: flex;
}

.checkout:hover {
  color: var(--main_color);
  background: var(--hover-color);
  border: 1px solid var(--hover-color);
  transform: scale(1.1);
}

.cart-img {
    width: fit-content;
    height: 73px;
}

td cart-img {
    width: 80px;
    height: 120px;
    margin-right: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

td input {
    width: 30px;
    height: 25px;
    padding: 5px;
}


